extends layout

block content
	div.hero-unit

		h1 hello, 
		br
		p got an idea? 
		p let's get started.
	p .
		Do you have an awesome new idea? We can help. From the beginning, we can help you design an implement your app ideas.
		Whether it's a system that tracks the locations of recycling bins in a city, a user-friendly app that lets you keep 
		your customers up to date on your products, or a slick dashboard that tracks unicorn sightings by county, we can help 
		you make your dream app a reality.