extends layout

block content
	row
		p
		
		div.span6
			img(src='img/about.jpg')

			p
			:markdown
				Do you have an awesome new idea?  From the beginning, I can help you design an implement your app ideas.
				From big brand Fortune 500s to local small businesses, I have helped to architect systems 
				designed to be highly performant and scalable.  Using the newest tech 
				on the block and adhering to strict engineering principles, I am able to deliver results quickly and reliably. 
				To get the ball rolling, [contact me](/contact) today. All initial consultations are free of charge.
				
		div.span3
			include feed