div.footer
	row.span9.offset3
		:markdown
			Copyright 2012. Built by [@morganherlocker](http://twitter.com/morganherlocker). 
			Site powered by [node](http://nodejs.org/), 
			[express](http://expressjs.com/), 
			[jade](http://jade-lang.com/), 
			[mongodb](http://www.mongodb.org/), 
			and [bootstrap](http://twitter.github.com/bootstrap/). Thanks for stopping by.
		