extends layout

block header

block content
	row
		div.span3
			row
				h1 style
				p .
					Pristine design. We craft every app for powerful simplicity to keep you and your users happy.
			row
				img(src='img/slide4.png')
			
		div.span3
			row
				h1 tech
				p .
					Cutting edge tech. We specialize in real-time, high volume web applications. By building everything 
					on rock solid engineering best practices, we avoid costly headaches and keep everything running 
					like clockwork.
			row
				img(src='img/slide5.png')
		div.span3
			h1 data

	
