extends layout

block header
	div.header.hero-unit
				h1 hey, let's make an app.
block content
	div.flexslider
		ul.slides
			li
				img(src='/img/Slide1.png')
			li
				img(src='/img/Slide2.png')
			li
				img(src='/img/Slide3.png')
	
