extends layout



block content
	div.flexslider
		ul.slides
			li
				img(src='/img/Penguins.jpg')
			li
				img(src='/img/Jellyfish.jpg')
			li
				img(src='/img/Lighthouse.jpg')
	
	p .
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.