extends layout



block content
	h1 home
	p .
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.
		this is the home page. There will be loads of content here. Probably some sort of image slider and other stuff.